<?xml version="1.0"?>
<robot name="arm_1dof">

</robot>

<!-- Write a robot
  link
  joint
  gazebo-ros-plugin

get the robot state

control the robot


Task: Make it a 3 dof robot - with 
	static base link-0
	link-1 rotating Z
	Link-2 roating X
	link-3 roating X
	
	Write a node that subscribes to a topic set-joint-state
	publish an array of 3 angles to set-joint-state topic
	The robot should set the joints to the 3 angles
	 -->